node_modules/
.turbo/
.next/
dist/
build/
.env
.env.local
.env.*.local
**/.vercel/
.DS_Store
*.log
coverage/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.tsbuildinfo
next-env.d.ts
